@font-face {
  font-family: 'Brown';
  src: url("src/fonts/lineto-brown-bold.woff2") format("woff2"), url("src/fonts/lineto-brown-bold.woff") format("woff"), url("src/fonts/lineto-brown-bold.ttf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: auto; }

@font-face {
  font-family: 'Brown';
  src: url("src/fonts/lineto-brown-regular.woff2") format("woff2"), url("src/fonts/lineto-brown-regular.woff") format("woff"), url("src/fonts/lineto-brown-regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: auto; }

*, *::after, *::before {
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none; }

:root {
  /* Colors */
  --color-text: #101010;
  --color-button-start: #101010;
  --color-bg-main: #f1f2f2;
  --color-button-next-step0: #101010;
  --time-animation: 0.2s; }

body {
  font-family: "Brown", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f2f2;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  -ms-touch-action: none;
  touch-action: none;
  margin: 0; }

h1 {
  font-size: 3rem;
  font-weight: bold;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0; }
  @media screen and (min-width: 55em) and (min-height: 35em) {
    h1 {
      font-size: 4.5rem;
      margin-bottom: 1rem;
      line-height: 5rem; } }

h3 {
  opacity: 0.65;
  color: #717171;
  font-size: 1.1rem;
  font-weight: normal;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  margin-bottom: 0.3rem;
  display: none; }
  @media screen and (min-width: 55em) and (min-height: 35em) {
    h3 {
      display: block;
      font-size: 1.75rem; } }

#step0 h3 {
  display: block; }

h2 {
  color: var(--color-text);
  font-size: 2rem;
  font-weight: bold; }

p {
  opacity: 0.9;
  color: #717171;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: normal;
  -webkit-margin-before: 0.5rem; }
  @media screen and (min-width: 55em) and (min-height: 35em) {
    p {
      -webkit-margin-before: 1rem;
      opacity: 0.75;
      font-size: 1.2rem;
      line-height: 1.8rem; } }

#step0 p {
  font-size: 1.1rem;
  line-height: 1.7rem;
  -webkit-margin-before: 1rem; }
  @media screen and (min-width: 55em) and (min-height: 35em) {
    #step0 p {
      font-size: 1.2rem;
      line-height: 1.8rem; } }

button {
  vertical-align: middle;
  font-size: 0.9rem;
  font-weight: bold;
  display: inline-block;
  background-color: var(--color-button-start);
  border: none;
  color: var(--color-bg-main);
  text-align: center;
  height: 60px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color .3s;
  overflow: hidden; }

button:focus {
  outline: 0; }

button:hover, button:focus {
  border: solid 2px var(--color-bg-main); }

button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

button > * {
  position: relative; }

button:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out; }

canvas {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 3;
  grid-row-end: 5;
  z-index: -1; }

#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-property: transform,opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  z-index: 10; }
  #loading #loading-menu {
    width: 100%;
    height: 100%;
    background-image: url("src/images/wireframe_mobile.png");
    animation: pulse 1s infinite;
    -webkit-background-size: cover;
    background-size: cover; }
    @media screen and (min-width: 55em) and (min-height: 35em) {
      #loading #loading-menu {
        background-image: url("src/images/wireframe_web.png"); } }

@keyframes pulse {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

#loading.hidden {
  opacity: 0; }

main {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 2rem calc(100% - 4rem) 2rem;
  grid-template-rows: 4rem calc(100% - 9rem) 5rem;
  grid-template-areas: "header header header" "pageControl main ..." "bottom bottom bottom"; }
  @media screen and (min-width: 55em) and (min-height: 35em) {
    main {
      height: 100vh;
      overflow: hidden;
      display: grid;
      grid-template-columns: 8rem calc(50% - 8rem) calc(50% - 8rem) 8rem;
      grid-template-rows: 6rem calc(100% - 12rem) 6rem;
      grid-template-areas: "header header header header" "pageControl main mainRight ..."  "bottom bottom bottom bottom"; } }

section#page-control {
  margin: 0 auto;
  grid-area: bottom; }
  section#page-control li {
    float: left;
    width: 4px;
    height: 3px;
    margin-bottom: 0;
    border: none;
    background-color: var(--color-text);
    opacity: 0.8;
    margin-right: 5px; }
  section#page-control li.active {
    background-color: #a3a0ac;
    opacity: 1; }
  section#page-control span {
    display: none; }
  @media screen and (min-width: 55em) and (min-height: 35em) {
    section#page-control {
      grid-area: pageControl;
      padding-left: calc(1rem + 30px);
      margin: inherit;
      margin-top: -2rem;
      align-self: center; }
      section#page-control li {
        width: 4px;
        height: 6px;
        margin-bottom: 12px;
        float: none;
        margin-right: 0; } }

section#container-menu {
  background-color: rgba(255, 255, 255, 0.95);
  display: none;
  opacity: 0;
  top: 0;
  grid-area: 1 / 1 / 4 / 4;
  grid-template-columns: 2rem calc(100% - 4rem) 2rem;
  grid-template-rows: 5rem calc(100% - 10rem) 5rem;
  grid-template-areas: "... ... ..." "... buttons-area-menu ...";
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-property: transform,opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  z-index: 1; }
  section#container-menu nav {
    grid-area: buttons-area-menu;
    align-items: center; }
    section#container-menu nav li {
      font-size: 2rem;
      margin: 0 0 1.5rem;
      font-weight: bold;
      color: var(--color-text);
      opacity: 0.4;
      cursor: pointer; }
    section#container-menu nav li.active {
      opacity: 1;
      margin-bottom: 2rem; }
    section#container-menu nav li:hover {
      opacity: 0.4; }
    section#container-menu nav li.active span {
      padding-bottom: 0.3rem;
      font-size: 2.6rem;
      border-bottom: solid 6px var(--color-button-start); }
  @media screen and (min-width: 55em) and (min-height: 35em) {
    section#container-menu {
      grid-area: 1 / 1 / 4 / 5;
      grid-template-columns: 8rem calc(100% - 16rem) 8rem;
      grid-template-rows: 8rem calc(100% - 16rem) 8rem;
      grid-template-areas: "... ... ..." "... buttons-area-menu ..." "... ... ..."; }
      section#container-menu li {
        font-size: 2.3rem;
        margin: 0 0 2.3rem;
        font-weight: bold; }
      section#container-menu li.active {
        opacity: 1;
        margin-bottom: 2.5rem; } }

.section_header {
  display: flex;
  grid-area: header;
  align-items: center; }
  .section_header #icon-menu {
    margin-left: 1rem;
    cursor: pointer;
    z-index: 2;
    opacity: 1;
    width: 60px;
    height: 60px; }
  .section_header #icon-menu:hover {
    opacity: 0.8; }
  .section_header nav {
    margin-left: auto;
    margin-right: 1rem;
    z-index: 8; }
    .section_header nav ul#menu-social-list li {
      width: 48px;
      height: 48px;
      float: left;
      opacity: 1;
      cursor: pointer; }
    .section_header nav ul#menu-social-list li:hover {
      opacity: 0.8; }
  @media screen and (min-width: 55em) and (min-height: 35em) {
    .section_header #icon-menu {
      width: 100px;
      height: 100px; }
    .section_header ul#menu-social-list li {
      width: 60px;
      height: 60px; } }

section#container-transition {
  position: absolute;
  z-index: 200;
  display: none;
  transition: all .2s;
  -webkit-transition: all .2s;
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  border-radius: 10px;
  border: none;
  background-image: url("src/images/jobs/job-3/thumb.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }

section#containerSteps {
  grid-area: main;
  align-self: center; }
  section#containerSteps h3, section#containerSteps h1, section#containerSteps p, section#containerSteps button {
    opacity: 0;
    transform: translateY(3rem);
    -webkit-transform: translateY(3rem);
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-duration: var(--time-animation);
    -webkit-transition-timing-function: ease-out;
    transition-property: transform, opacity;
    transition-duration: var(--time-animation);
    transition-timing-function: ease-out; }
  section#containerSteps #step1, section#containerSteps #step2, section#containerSteps #step3, section#containerSteps #step4 {
    display: none; }
  section#containerSteps #step0 button {
    height: 68px;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
  section#containerSteps #step1 ul.photo-gallery li {
    background-image: url("src/images/jobs/job-3/thumb.png"); }
  section#containerSteps #step2 ul.photo-gallery li {
    background-image: url("src/images/jobs/job-4/thumb.png"); }
  section#containerSteps #step3 ul.photo-gallery li {
    background-image: url("src/images/jobs/job-5/thumb.png"); }
  section#containerSteps ul.photo-gallery {
    width: initial;
    height: calc(100vh - 350px);
    max-height: 300px; }
    section#containerSteps ul.photo-gallery li {
      float: left;
      width: calc(50% - 5px);
      height: 90%;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      margin-right: 10px;
      margin-top: 15px;
      -webkit-box-shadow: 0px 15px 30px -6px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 15px 30px -6px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 15px 30px -6px rgba(0, 0, 0, 0.1);
      transform: translateY(3rem);
      -webkit-transform: translateY(3rem);
      opacity: 0;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      -webkit-transition-property: -webkit-transform, opacity;
      -webkit-transition-duration: var(--time-animation);
      -webkit-transition-timing-function: ease-out;
      transition-property: transform,opacity;
      transition-duration: var(--time-animation);
      transition-timing-function: ease-out; }
      section#containerSteps ul.photo-gallery li span {
        display: none; }
      section#containerSteps ul.photo-gallery li svg {
        width: 80px;
        position: absolute;
        right: 0px;
        top: 0;
        margin: 0;
        padding: 0; }
    section#containerSteps ul.photo-gallery li:hover {
      border: solid 2px var(--color-text); }
    section#containerSteps ul.photo-gallery li:nth-child(1) {
      width: 100%;
      margin: 0;
      margin-bottom: -5px;
      margin-top: 10px; }
    section#containerSteps ul.photo-gallery li:nth-child(3) {
      margin-right: 0; }
    @media screen and (min-width: 55em) and (min-height: 35em) {
      section#containerSteps ul.photo-gallery {
        width: 100%;
        height: initial;
        max-height: initial; }
        section#containerSteps ul.photo-gallery li {
          width: 100%;
          height: 260px;
          margin-right: 20px; }
        section#containerSteps ul.photo-gallery li:nth-child(1) {
          margin: 0;
          margin-right: 20px;
          margin-top: 15px; } }
  section#containerSteps #step4 button {
    width: 100%;
    height: 68px;
    background-color: transparent;
    color: var(--color-text);
    border: solid 2px var(--color-text); }
  section#containerSteps #step4 button#behance {
    background-color: var(--color-text);
    color: #f1f2f2;
    border: solid 2px var(--color-text); }
  section#containerSteps #step4 button#resume {
    background-color: transparent;
    color: var(--color-text);
    border: solid 2px var(--color-text); }
  @media screen and (min-width: 55em) and (min-height: 35em) {
    section#containerSteps {
      max-width: 600px;
      padding-left: 1.5rem;
      margin-top: -2rem; }
      section#containerSteps #step0 button {
        position: relative;
        bottom: none;
        left: none;
        font-size: 1.2rem;
        width: 210px; }
      section#containerSteps #step4 button {
        width: 200px; }
      section#containerSteps #step4 button#resume {
        margin-left: 10px; } }

.rightPosition {
  grid-area: mainRight !important; }

.buttonPrevLastStep {
  width: 100% !important; }

.buttonNextLastStep {
  display: none; }

section#controlNavegationSteps {
  width: 100%;
  grid-area: bottom;
  justify-self: center;
  align-self: end;
  display: none;
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-property: transform,opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-out; }
  section#controlNavegationSteps button {
    float: left;
    width: 50%;
    height: 60px;
    position: relative;
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-duration: var(--time-animation);
    -webkit-transition-timing-function: ease-out;
    transition-property: transform,opacity;
    transition-duration: var(--time-animation);
    transition-timing-function: ease-out; }
    @media screen and (min-width: 55em) and (min-height: 35em) {
      section#controlNavegationSteps button {
        float: inherit;
        position: inherit;
        width: 240px;
        height: 80px; } }
  section#controlNavegationSteps button#buttonPrev:hover, section#controlNavegationSteps button#buttonPrev:focus {
    border: solid 2px #a3a0ac; }
  section#controlNavegationSteps button#buttonPrev {
    background-color: var(--color-bg-main);
    box-shadow: none;
    color: var(--color-text);
    border: solid 2px var(--color-text); }
    @media screen and (min-width: 55em) and (min-height: 35em) {
      section#controlNavegationSteps button#buttonPrev {
        padding-top: 10px; } }
  section#controlNavegationSteps button#buttonNext {
    box-shadow: none; }
  @media screen and (min-width: 55em) and (min-height: 35em) {
    section#controlNavegationSteps {
      width: initial; } }

section#container-jobs {
  position: absolute;
  width: 100%;
  z-index: 20;
  display: none; }
  section#container-jobs div.container-job-cover {
    height: 90vh;
    overflow: hidden;
    position: relative; }
  section#container-jobs div.overlay {
    position: absolute;
    opacity: 0.85;
    width: 100%;
    height: 100%; }
  section#container-jobs div.overlay-purple {
    background-color: #4b1d5a; }
  section#container-jobs div.overlay-brown {
    background-color: #4C4036; }
  section#container-jobs div.overlay-green {
    background-color: #294751; }
  section#container-jobs div.container-job-one-colum {
    overflow: hidden;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "row-center"; }
  section#container-jobs div.container-job-one-colum-title {
    overflow: hidden;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "row-center"; }
  section#container-jobs div.container-job-two-colum {
    overflow: hidden;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "row-first" "row-second"; }
    @media screen and (min-width: 55em) and (min-height: 35em) {
      section#container-jobs div.container-job-two-colum {
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        grid-template-areas: "row-left row-right"; } }
  section#container-jobs h3 {
    display: block;
    margin-top: 1.2rem; }
  section#container-jobs .content-job-center {
    align-self: center;
    text-align: center;
    grid-area: row-center;
    padding: 2rem;
    position: relative; }
    @media screen and (min-width: 55em) and (min-height: 35em) {
      section#container-jobs .content-job-center {
        padding-right: 15rem;
        padding-left: 15rem; } }
  section#container-jobs .content-job-first {
    grid-area: row-first; }
  section#container-jobs .content-job-second {
    grid-area: row-second; }
  @media screen and (min-width: 55em) and (min-height: 35em) {
    section#container-jobs .content-job-left {
      grid-area: row-left;
      padding: 5rem; } }
  @media screen and (min-width: 55em) and (min-height: 35em) {
    section#container-jobs .content-job-right {
      grid-area: row-right;
      padding: 5rem; } }
  section#container-jobs .content-text {
    align-self: center;
    padding: 2rem; }
    @media screen and (min-width: 55em) and (min-height: 35em) {
      section#container-jobs .content-text {
        padding: 5rem; } }
  section#container-jobs .content-img {
    align-self: stretch;
    min-height: 320px;
    padding: 0; }
    section#container-jobs .content-img img {
      width: 100%;
      object-fit: cover; }
  section#container-jobs .bkg-color-blue-light {
    background-color: #F6F6F6; }
  section#container-jobs .bkg-color-blue {
    background-color: #F6F6F6; }
  section#container-jobs .bkg-color-blue-cover {
    background-color: #F6F6F6; }
  section#container-jobs .bkg-color-white {
    background-color: #f1f2f2; }
  section#container-jobs div#close-jobs {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 1;
    cursor: pointer; }
    @media screen and (min-width: 55em) and (min-height: 35em) {
      section#container-jobs div#close-jobs {
        width: 100px;
        height: 100px;
        right: 0; } }
  section#container-jobs div#close-jobs:hover {
    opacity: 0.8; }
  section#container-jobs #cover3 {
    background-image: url("src/images/jobs/job-3/thumb.png"); }
  section#container-jobs #cover4 {
    background-image: url("src/images/jobs/job-4/thumb.png"); }
  section#container-jobs #cover5 {
    background-image: url("src/images/jobs/job-5/thumb.png"); }
  section#container-jobs .cover {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    color: #f1f2f2; }
    section#container-jobs .cover h3 {
      color: #f1f2f2;
      opacity: 1; }
  section#container-jobs .object-fit_fill {
    object-fit: fill; }
  section#container-jobs .object-fit_contain {
    object-fit: contain; }
  section#container-jobs .object-fit_cover {
    object-fit: cover; }
  section#container-jobs .object-fit_none {
    object-fit: none; }
  section#container-jobs .object-fit_scale-down {
    object-fit: scale-down; }

video {
  width: 100%; }

#prev {
  display: none; }

